header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: var(--height-header);
    width: 100%;
}

.githubICON:hover{
    fill: var(--color-purple);
}

header > nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.5em;
}

.nav_item{
    text-decoration: none;
    font-size: var(--fontsize-nav);
    color: var(--color-purple);
    transition: 0.2s;
    font-weight: bold;
    position: relative;
}

.nav_item:hover{
    color: var(--color-lightpurple);
}

/* Underline effect */
.nav_item::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: 0;
    width: 0;
    background: var(--color-white);
    transition: all .2s;
}

.nav_item:hover::after{
    width: 100%;
    left: 0;
}



body{
    text-align: center;
    background-color: var(--color-dark1);
}

.content{
    text-align: center;
    margin-top: var(--marginTop-content);
    height: 100%;
}

footer{
    bottom: 0;
}