@media screen and (max-width: 812px){
    :root{
        --fontsize-input: 4em;
        --fontsize-button: 3.5em;
        --fontsize-convertedNum: 6em;
        --fontsize-inputNum: 4em;
        --height-header: 6em;
    }

    .inputNumber{
        font-size: var(--fontsize-input);
    }

    #submitButton{
        font-size: var(--fontsize-button);
    }

    h1{
        font-size: 2em;
        margin-bottom: 1em;
    }

    h2{
        font-size: 1.3em;
    }

    h3{
        font-size: 0.8em;
    }
}